/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$cur1-lv-2: (0px, 0px, 0px, 0px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png', 'lv-2', );
$cur1-lv-3: (80px, 0px, -80px, 0px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png', 'lv-3', );
$cur1-lv-4: (160px, 0px, -160px, 0px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png', 'lv-4', );
$cur1-lv-5: (0px, 92px, 0px, -92px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png', 'lv-5', );
$cur1-lv-6: (80px, 92px, -80px, -92px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png', 'lv-6', );
$cur1-lv-7: (160px, 92px, -160px, -92px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png', 'lv-7', );
$cur1-sprites: ($cur1-lv-2, $cur1-lv-3, $cur1-lv-4, $cur1-lv-5, $cur1-lv-6, $cur1-lv-7, );


