// reset
$reset:false !default;
$lnkColor: #666 !default;
$placeholderColor: #999 !default;
@if $reset {
    html {
        overflow-y: scroll;
        -webkit-text-size-adjust: 100%;
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;
        }
    }
    html, body {
        font-family: sans-serif;
    }
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        margin: 0;
        padding: 0;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    caption, th {
        text-align: left;
    }
    fieldset, img {
        border: 0;
    }
    em, i, strong {
        font-style: normal;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: normal;
    }
    ul, ol {
        list-style: none;
    }
    del {
        text-decoration: line-through;
    }
    input, button, textarea, select {
        font-size: 100%;
        border: none;
        background: none;
        -webkit-appearance: none;
    }
    a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
        outline: 0 none;
    }
    a {
        text-decoration: none;
        color: $lnkColor; //var
    }
    .clearfix {
        &:before, &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    ::-webkit-input-placeholder {
        color: $placeholderColor; //var
    }
    ::-moz-placeholder {
        color: $placeholderColor; //var
    }
    :-moz-placeholder {
        color: $placeholderColor; //var
    }
}
