footer.footer
	nav.nav
		ul
			li.bar-recommend.active: a(href="javascript:;")
				span
				p 推荐
			li.bar-game: a(href="javascript:;")
				span
				p 游戏
			li.bar-software: a(href="javascript:;")
				span
				p 软件
			li.bar-find: a(href="javascript:;")
				span
				p 发现
			li.bar-manage: a(href="javascript:;")
				span
				p 管理