/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$aqi-icon-lv1: (0px, 0px, 0px, 0px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv1', );
$aqi-icon-lv2: (36px, 0px, -36px, 0px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv2', );
$aqi-icon-lv3: (0px, 36px, 0px, -36px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv3', );
$aqi-icon-lv4: (36px, 36px, -36px, -36px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv4', );
$aqi-icon-lv5: (72px, 0px, -72px, 0px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv5', );
$aqi-icon-lv6: (72px, 36px, -72px, -36px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv6', );
$aqi-icon-lv7: (0px, 72px, 0px, -72px, 32px, 32px, 104px, 104px, '../images/aqi-icon-sprite.png', 'lv7', );
$aqi-icon-sprites: ($aqi-icon-lv1, $aqi-icon-lv2, $aqi-icon-lv3, $aqi-icon-lv4, $aqi-icon-lv5, $aqi-icon-lv6, $aqi-icon-lv7, );


