$cur1-lv-2: (0px, 0px, 0px, 0px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png?1520145295918', 'lv-2', 'cur1','');
$cur1-lv-3: (80px, 0px, -80px, 0px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png?1520145295918', 'lv-3', 'cur1','');
$cur1-lv-4: (160px, 0px, -160px, 0px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png?1520145295918', 'lv-4', 'cur1','');
$cur1-lv-5: (0px, 92px, 0px, -92px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png?1520145295918', 'lv-5', 'cur1','');
$cur1-lv-6: (80px, 92px, -80px, -92px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png?1520145295918', 'lv-6', 'cur1','');
$cur1-lv-7: (160px, 92px, -160px, -92px, 76px, 88px, 236px, 180px, '../images/cur1-sprite.png?1520145295918', 'lv-7', 'cur1','');
$cur1-sprites: ($cur1-lv-2, $cur1-lv-3, $cur1-lv-4, $cur1-lv-5, $cur1-lv-6, $cur1-lv-7, );
