doctype html
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class='ie7'><![end if]-->
<!--[if IE 8]><html class='ie8'><![end if]-->
<!--[if gte IE 9]><html class="ie9"><![endif]-->
<html>
head
	include ../components/head
body
	div.wrapper
		//- include ../components/header
		block content
		//- include ../components/footer
	block script
</html>