@import "../../../_source/_function/mobile-mixin";
@import "./sprites/cur";
@import "./sprites/cur1";
@import "./sprites/aqi-icon";

// .head{
// 	font-size: rem-calc(80);
// }

// @include rem-sprites("cur/*.png");

// body{
// 	background: green;
// 	opacity: 0.5;
// }

// div{
// 	// @include rem-sprite("cur/*.png",lv1);
// }


body{
	display: flex;
	background: yellow;
	width: rem-calc(100);
}

div{
	@include rem-sprite($cur1-lv-3,16);
}

h1{
	color: blue
}
// @include sprites($cur-sprites);



