$rem-base:720;// 计算rem的基数，默认16根据字体大小，当值超过320的将根据设计稿宽度
$reset:true;// 是否将浏览器默认样式重置，默认为false
$Response:true;// 是否使用自适应系统，默认为false
$mediaArrays:(320 375 400 480 640 720);// 当$Response为true的时候设置适配的手机尺寸，默认值为320 360 375 400 480 540 640 720

@import "../../../_source/_function/mobile-mixin";
@import "./sprites/cur";
@import "./sprites/cur1";
@import "./sprites/aqi-icon";


body{
	display: flex;
	background: red;
}

.div1{
	// 引用单个合图
	@include rem-sprite($aqi-icon-lv2,720);
}

// 引用全部合图
@include rem-sprites($cur-sprites,$pre-name:'demo',$separator:'__');


h1{
	text-align: center;
	font-family: Microsoft Yahei, sans-serif;
	// 字体大小可以用rem
	font-size: rem-calc(60);
	color: blue;
}

ul{
	padding: 0;
	list-style: none;
	li{
		float: left;
		margin-right: rem-calc(10);
	}
}

.div2{
	width: rem-calc(200);
	height: rem-calc(200);
	background: yellow;
}




